{% extends "base.html" %}
{% load static %}


{% block content %}
  {{ block.super }}
  <base href="{% static 'chessboardjs/' %}"/>
<link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 style="text-align:center">
          Fernschach
        </h1>
        <br>
        <br>
        <span id="current-fen"></span>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div id="myBoard" style="width: 400px"></div>
      </div>
      <div class="col-6">
        <label>Status:</label>
        <div id="status"></div>
        <label>PGN:</label>
        <div id="pgn"></div>
        </div>
      </div>
    </div>


    {% if submitted %}
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h4>Sie haben sich dem Schicksal gefügt...</h4>
        </div>
      </div>
    {% else %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form method="post">
          {% csrf_token %}
          <div style="text-align:center">
            <br>
            <button type="submit" name="einsenden" class="btn btn-success">Dem Schicksal fügen</button>
            <br>
            <input type="text" id="move-id" name="move" hidden=true></input>
          </div>
        </form>
      </div>
    </div>
    {% endif %}

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js" integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js" integrity="sha384-s3XgLpvmHyscVpijnseAmye819Ee3yaGa8NxstkJVyA6nuDFjt59u1QvuEl/mecz" crossorigin="anonymous"></script>

  <script>
  // NOTE: this example uses the chess.js library:
  // https://github.com/jhlywa/chess.js

  var board = null
  var game = new Chess()
  var moved = false
  var $status = $('#status')
  var $pgn = $('#pgn')

  function onDragStart (source, piece, position, orientation) {
    // do not pick up pieces if the game is over
    if (game.game_over()) return false

    // only pick up pieces for the side to move
    if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
        (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
      return false
    }
  }

  function onDrop (source, target) {
    // see if the move is legal
    var move = game.move({
      from: source,
      to: target,
      promotion: 'q' // NOTE: always promote to a queen for example simplicity
    })

    // illegal move
    if (move === null) return 'snapback'

    if (!moved) {
      document.getElementById("move-id").value = source + target
      moved = true
    }

    updateStatus()
  }

  // update the board position after the piece snap
  // for castling, en passant, pawn promotion
  function onSnapEnd () {
    board.position(game.fen())
  }

  function updateStatus () {
    var status = ''

    var moveColor = 'White'
    if (game.turn() === 'b') {
      moveColor = 'Black'
    }

    // checkmate?
    if (game.in_checkmate()) {
      status = 'Game over, ' + moveColor + ' is in checkmate.'
    }

    // draw?
    else if (game.in_draw()) {
      status = 'Game over, drawn position'
    }

    // game still on
    else {
      status = moveColor + ' to move'

      // check?
      if (game.in_check()) {
        status += ', ' + moveColor + ' is in check'
      }
    }

    $status.html(status)
    $pgn.html(game.pgn())
  }

  var config = {
    draggable: true,
    position: 'start',
    onDragStart: onDragStart,
    onDrop: onDrop,
    onSnapEnd: onSnapEnd
  }

  board = Chessboard('myBoard', config)
  var moves = {{ move_list|safe }}

  for (i = 1; i < moves.length; i++) {
    move = game.move({
      from: moves[i].slice(0,2),
      to: moves[i].slice(2,5),
    })
    board.position(game.fen())
    updateStatus()
  }

  </script>
{% endblock %}
